//We use this and the command: 'sass scss/custom.scss public/css/bootstrap.css' to compile bootstrap.css with the appropriate theme

// Your variable overrides
$primary: #4B8A3B;
$secondary: #908ED4;
$light: #FFD7AD;
$dark: #C8FFD0;

// Bootstrap and its default variables
@import "../node_modules/bootstrap/scss/bootstrap";