html
{
    height: 100%;
}
body {
  background-color: #fff;
  max-width: 100%;
  height: 100%;
  overflow-x: hidden;
  justify-content: center;
}
  .body-container {
    max-width: 800px;
    margin: auto;
  }
  .title-container {
    width: 100%;
    height: 200px;
    position: relative;
  }
    .title-background {
      position: fixed;
      z-index: 0;
      max-width: 800px;
    }
    .title-shadow {
      width: 100%;
      height: 200px;
      position: absolute;
      top: 0;
      left: 0;
      display: flex;
      justify-content: center;
      align-items: center;
    }
      .title-outline {
        max-width: 600px;
        margin: 0 auto;
        padding: 5px;
        box-shadow: 2px 2px 2px black;
        text-align: center;
        background-color: #eee;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
      }
        .title-vl {
          width: 2px;
          height: 95%;
          background-color: #aaa;
          overflow: hidden;
        }
        .title-text {
          margin: 15px 5px 5px 5px;
        }
          .title-title {
            font-family: 'Josefin Sans';font-size: 36px;
            margin: 0;
          }
          .title-description {
            font-family: 'Josefin Sans';font-size: 18px;
            margin: 0;
          }
      .title-links {
        max-width: 600px;
        margin: 10px 0px 0px 0px;
        padding: 5px;
        box-shadow: 2px 2px 2px black;
        text-align: center;
        background-color: #eee;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
      }
        .black {
          color: #000;
        }
        .title-link {
          font-family: 'Josefin Sans';font-size: 18px;
          padding: 5px 10px 0px 10px;
        }
  .description {
    width: 100%;
    position: absolute;
    padding: 0 10px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .content-container {
    width: 100%;
    height: auto;
    background-color: #fff;
    position: relative;
  }
    .article-wrapper {
      margin-top: 15px
    }
    .article-category {
      font-family: 'Josefin Sans';font-size: 12px;
      line-height: 1em;
      margin: 0;
      color: #aaa;
    }
    .article-title {
      font-family: 'Josefin Sans';font-size: 18px;
      line-height: 1em;
      padding-top: 0.3em;
      margin: 0;
    }
    .article-description {
      font-family: 'Calibri';font-size: 14px;
      line-height: 1em;
      padding-top: 0.3em;
      margin: 0;
    }
    .featured-article {
      padding: 15px 15px 0px 15px !important
    }
    .article-img {
      max-width: 100%;
      height: auto;
    }
    .section-header {
      font-family: 'Josefin Sans';font-size: 24px;
      margin: 0;
    }
    .hl {
      height: 2px;
      width: 95%;
      background-color: #aaa;
      overflow: hidden;
    }