doctype html
html
  head
    link(rel='stylesheet', href='/css/bootstrap.min.css')
    link(rel='stylesheet', href='/css/blog.css')
    link(rel='stylesheet', href='/css/styles.css')

  body
    header.blog-header_py-3
      .row_flex-nowrap_justify-content-between_align-items-center
        .col-4_pt-1
          p
            | Test
        .col-4_text-center
          p
            | Test
        .col-4_d-flex_justify-content-end_align-items-center
          p
            | Test

