extends layout

block content
  .rounded.bg-light.text-center
    h1 No Soil in NJ
    p.lead An Experiment in Hydroponic and Aeroponic Gardening
  .row.d-flex
    .col.rounded.bg-light.m-1
      strong Hydroponic Tutorial
      img.img-fluid(src='/images/HydroSchematic.png')
    .col.rounded.bg-light.m-1
      strong Aeroponic Tutorial
      img.img-fluid(src='/images/AeroSchematic.png')
  

