<!DOCTYPE html>
<html>
<body>
<div>
  <div>
    <h1> No Soil in NJ: An Experiment in Urban Gardening </h1>
      Living in Northen New Jersey, due to the Coronavirus, we picked up 180 free 
      seed starter kits from a local chain store giving them away. We planted most of them June 6, 2020 without realizing the sheer
      quantity of plants we had given life. We had limited lawn space and up to 400 growing plants on our hands.
      We rushed to find gardening solutions to foster these plants. 
      In our research, we discovered the world of hydroponics and aeroponics and embarked on a journey to create
      our own system on a budget. We are using this site to document our growing process and perhaps provide a resource for 
      others who would like to build such a system.
    <hr>
    <h2> Article Index: </h2>
    <a href="/seeds"> Seed Planting/Plant Propagation </a> <br>
    <a href="/pH-buffering-experiment"> pH Buffering Experiment </a> <br>
    <a href="/bacterial-growth-experiment"> Bacterial Growth Experiment </a> <br>
    <a href="/hydroponic-design"> Hydroponic Design </a> <br>
    <a href="/aeroponic-design"> Aeroponic Design </a> <br>
    <a href="/issues"> Issues we ran into </a>
    <a href="/blog-sample"> Bootstrap Blog Sample </a>
    <h3>Watch our plants grow!</h3>
    <a href="/plants"> Our Plants </a>
    <hr>
    <h3>Live Data:</h3>
    <p>Water Temperature</p>   
    <h3> The System: </h3>
    <a>Our Design Process</a>
  </div>
</div>
</body>
</html>