extends layout

block content
  .title-container
    img.title-background(src='/images/Lettuce.jpg')
    .title-shadow.flex-column
      .title-outline
        .title-vl
        .title-text
          h1.title-title Tubular Gardens
          p.title-description Tinkering with Hydroponic and Aeroponic Gardening
        .title-vl
      .title-links.flex-row
        a.title-link(href='/articles') Articles
        .title-vl
        a.title-link(href='/blog') Blog
        .title-vl
        a.title-link(href='/about') About Us
  .content-container
    
    

