doctype html
html
  head
    title No Soil in NJ
    link(rel='stylesheet', href='/css/default-styles.css')
    link(rel='stylesheet', href='/css/bootstrap.css')

  body
    .container
      block content