<!DOCTYPE html>
<html>
<body>
<div>
    <ul>
        <li> Megan thee Scallion, she's a savage: classy, bougie, rachet </li>
        <li> Rick the Gerkin </li>
        <li> Dwayne the Broc Johnson </li>
        <li> Elvis Parsley </li>
        <li> Baljeet the Beet </li>
        <li> Kyle the Kale </li>
        <li> The 4th Dimension (Thyme) </li>
        <li> Mr. Pizzuto (Basil) </li>
        <li> Olivia (Eggplant) </li>
        <li> Timmy the Turnip </li> 
    </ul>
    <a href = "/">Home Page</a>
</div>
</body>
</html>